@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
*
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.start{
    z-index: 10;
    position: fixed;
    top: 0%;
    background: linear-gradient(-45deg, transparent, grey);
    height: 120px;
    width: 100%;
    padding: 0;
}
.nav{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 500px;
    position: relative;
    padding-top: 25px;
    left: 35%;
    margin-top: 1%;
    
}
#link{
    text-decoration: none;
    padding: 8px;
    color: #fff;
    border-radius: 20px;
    font-size: 14px;
}
.one{
    border: 2px solid lightgrey;
}
.one:focus{
    border: 2px solid grey;
}
.two:focus, .three:focus{
    border: 2px solid grey
}
.logo
{
    position: absolute;
    width: 200px;
}
#logo
{
    margin: 18%;
    width: 200px;
    color: #fff;

}
.welcome
{
    position: sticky;
    display: flex;
    margin-top: 7.6%;
}
.leftside
{
    width: 100%;
    height: 50%;
    background: linear-gradient(-45deg, rgba(0, 0, 0, 0.916), rgba(128, 128, 128, 0.849), transparent), url(../resources/images/welcome.jpg);
    background-position: center;
    background-size: cover;
    padding: 5px;
}
#greeting{
    margin: 15%;
    width: 400px;
    padding: 20px;
    color: #fff;
    word-spacing: 5px;
    letter-spacing: 1.5px;
    font-size: large;
}
.rightside
{
    position: absolute;
    right: 5%;
}
.form
{
    margin-top: 95%;
    /* margin: 10%; */
}
#form{
    display: flex;
    flex-direction: column;
}
#email{
    border: none;
    padding: 8px 10px;
    margin: 1.2%;
    border-radius: 5px;
    width: 290px;
}
#password{
    border: none;
    padding: 8px 10px;
    margin: 1.2%;
    border-radius: 5px;
    width: 290px;
}
#signup{
    border: 2px solid #fff;
    padding: 8px 10px;
    margin-top: 2%;
    margin-left: 1.2%;
    margin-bottom: 5%;
    background: linear-gradient(-45deg, grey, lightgrey);
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}
#signup:focus
{
    border: 2px solid grey;
    color: black;
    transition: all .3s ease-in-out;
}
@media screen and (max-width: 1340px) {
    
}
@media screen and (max-width: 1200px){
    
}
@media screen and (max-width: 1000px) {
    
}
@media screen and (max-width: 992px){
    
}
@media screen and (max-width: 800px){
    
}
@media screen and (max-width: 770px) {
    
}
@media screen and (max-width: 710px){
    
}
@media screen and (max-width: 600px) {
   
}
@media screen and (max-width: 450px){
    .start{
        background: linear-gradient(-45deg, transparent, grey);
    }
    .nav{
        display: none;
    }
    .start{
        width: fit-content;
    }
    .welcome{
        margin-top: 33.3%;
    }
    .leftside{
        height: 80vh;
    }
    #greeting{
        width: 220px;
        text-align: center;
        font-size: 15px;
    }
    .form{
        position: relative;
        left: -3.5%;
    }
    #email, #password{
        padding: 6px 8px;
    }
    #signup{
        padding: 6px 8px;
        width: 50%;
        position: relative;
        left: 25%;
    }
}
@media screen and (max-width: 360px){
    .nav{
        display: none;
    }
    .start{
        width: fit-content;
    }
    .welcome{
        margin-top: 33.3%;
    }
    .leftside{
        height: 80vh;
    }
    #greeting{
        width: 220px;
        text-align: center;
        font-size: 15px;
    }
    .form{
        position: relative;
        left: -3.5%;
    }
    #email, #password{
        padding: 6px 8px;
    }
    #signup{
        padding: 6px 8px;
        width: 50%;
        position: relative;
        left: 25%;
    }
}
@media screen and (max-width: 320px)
{
    .nav{
        display: none;
    }
    .start{
        width: fit-content;
    }
    .welcome{
        margin-top: 33.3%;
    }
    .leftside{
        height: 80vh;
    }
    #greeting{
        width: 220px;
        text-align: center;
        font-size: 15px;
    }
    .form{
        position: relative;
        left: -3.5%;
    }
    #email, #password{
        padding: 6px 8px;
    }
    #signup{
        padding: 6px 8px;
        width: 50%;
        position: relative;
        left: 25%;
    } 
}
@media screen and (max-height: 320px){
    .nav{
        display: none;
    }
}