*{
    padding: none !important;
}
.welcome{
    background: url(./un3.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
#whead{
    color: rgb(243, 243, 243) !important;
}
.caption{
    background: linear-gradient(transparent, #1f262c6e, #1f262c6e, #1f262c6e, #1f262c6e, transparent, transparent) !important;
    padding: 10px;
    border-radius: 20px;
}